// * {
//     box-sizing: border-box;
// }

// Переменные

@color-gray: #646363;
@color-blue: #0047FF;
@fonts: 'Roboto',sans-serif;

.header{
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
    &__menu{
        display: inline-block;
        margin-top: 40px;
        padding: 0;
        li{
            display: inline-block;
            margin-left: 50px;
            &:nth-child(1){
                margin-left: 0;
            }
        }
        &-item{
            text-decoration: none;
            font-family: @fonts;
            color: @color-gray;
            font-size: 14px;
            font-weight: 500;
            &:hover{
                color: black;
            }
        }
    }

    &__bell{
        &-phone{
            display: block;
            margin-top: 30px;
            font-family: @fonts;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            color: #fff;
            &:hover{
                color: black;
            }
        }
        &-order{
            margin-top: -8px;
            display: block;
            font-family: @fonts;
            font-size: 12px;
            text-align: center;
            color: #fff;
            &:hover{
                color: black;
            }
        }
    }

    &__logo{
        margin-top: 50px;
        &-img{
            display: inline-block;
        }
        &-title{
            margin-left: 5px;
            display: inline-block;
            font-size: 17px;
            font-weight: bold;
            font-family: @fonts;
            color: @color-blue;
            border-right: 2px solid @color-blue;
            padding-right: 5px;
        }
        &-descr{
            display: inline-block;
            vertical-align: top;
            font-size: 10px;
            color: @color-blue;
        }
    }

   &__option{
       margin-top: 50px;
       &-img{
           display: inline-block;
       }
       &-title{
           display: inline-block;
           vertical-align: top;
           width: 230px;
           font-size: 10px;
       }
   }

}

.title{
    margin-top: 100px;
    font-family: @fonts;
    &-blue{
        color: @color-blue;
    }
}

.button{
    margin-top: 50px;
    width: 230px;
    height: 60px;
    border: none;
    background-color: @color-blue;
    border-radius: 20px;
    color: #fff;
    font-family: @fonts;
}


@media(max-width: 1024px){
    .header{
        &__bell{
            &-phone{
                font-size: 15px;
            }
            &-order{
                margin-top: 0;
                font-size: 12px;
            }
        }
        &__option{
            &-title{
                width: 180px;
            }
        }
    }
}
@media(max-width: 991px){
    .header{
        &__menu{
            li{
                margin-left: 30px;
            }
        }
        &__bell{
            &-phone{
                font-size: 22px;
                color: black;
                font-weight: bold;
            }
            &-order{
                margin-top: 0;
                color: black;
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 576px){
    .header{
        background: none;
        &__menu{
            display: block;
            text-align: center;
        }
        &__bell{
            margin-top: -20px;
        }
        &__logo{
            text-align: center;
        }
    }
    .title{
        margin-top: 40px;
        text-align: center;
    }
    .button{
        display: block;
        margin: 10px auto;
    }
}

@media(max-width: 425px){
    .header{
        &__option{
            text-align: center;
            margin-top: 20px;
        }
    }

    .title{
        h1{
            font-size: 25px;
        }
    }
    
}

@media(max-width: 375px){
    .header{
        &__menu{
            li{
                margin-left: 5px;
            }
        }
        &__option{
            text-align: center;
            margin-top: 20px;
        }
    }

    .title{
        h1{
            font-size: 20px;
        }
    }
    
}