.title__camera {
  color: #0047ff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.distr {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 50px;
}
.header {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
}
.header__menu {
  display: inline-block;
  margin-top: 40px;
  padding: 0;
}
.header__menu li {
  display: inline-block;
  margin-left: 50px;
}
.header__menu li:nth-child(1) {
  margin-left: 0;
}
.header__menu-item {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #646363;
  font-size: 14px;
  font-weight: 500;
}
.header__menu-item:hover {
  color: black;
}
.header__bell-phone {
  display: block;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.header__bell-phone:hover {
  color: black;
}
.header__bell-order {
  margin-top: -8px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.header__bell-order:hover {
  color: black;
}
.header__logo {
  margin-top: 50px;
}
.header__logo-img {
  display: inline-block;
}
.header__logo-title {
  margin-left: 5px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #0047ff;
  border-right: 2px solid #0047ff;
  padding-right: 5px;
}
.header__logo-descr {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #0047ff;
}
.header__option {
  margin-top: 50px;
}
.header__option-img {
  display: inline-block;
}
.header__option-title {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  font-size: 10px;
}
.title {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}
.title-blue {
  color: #0047ff;
}
.button {
  margin-top: 50px;
  width: 230px;
  height: 60px;
  border: none;
  background-color: #0047ff;
  border-radius: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.button_camera {
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.modals {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modals-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 50px;
  height: 380px;
  text-align: center;
}
.modals-content__title {
  margin-top: 30px;
  color: #0047ff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.modals-content__input {
  padding-left: 15px;
  margin-top: 20px;
  width: 250px;
  height: 40px;
  font-size: 12px;
  color: #646363;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #646363;
  border-radius: 20px;
}
.modals-content__input:hover {
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(25, 70, 153, 0.4);
}
.modals-content__input:focus {
  outline: none;
}
.modals-content__buttons {
  margin-top: 20px;
  background-color: #0047ff;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.modals-content__message {
  color: red;
}
.close {
  position: absolute;
  top: -25px;
  right: -5px;
  color: white;
  float: right;
  font-size: 28px;
  font-size: bold;
}
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.camera {
  padding: 100px 0;
}
.camera__block {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 30px;
  width: 300px;
  height: 410px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.camera__block-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.camera__block-img img {
  width: 100%;
}
.camera__block-content__title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.camera__block-content__price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .header__bell-phone {
    font-size: 15px;
  }
  .header__bell-order {
    margin-top: 0;
    font-size: 12px;
  }
  .header__option-title {
    width: 180px;
  }
}
@media (max-width: 991px) {
  .header__menu li {
    margin-left: 30px;
  }
  .header__bell-phone {
    font-size: 22px;
    color: black;
    font-weight: bold;
  }
  .header__bell-order {
    margin-top: 0;
    color: black;
    font-size: 12px;
  }
}
.price {
  padding: 50px 0;
}
.price__work {
  margin-top: 160px;
  text-align: center;
}
.price__work h4 {
  color: #0047ff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.price__work p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.price__work p span {
  font-weight: bold;
  border-bottom: 1px solid #0047ff;
}
.price__img {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .header {
    background: none;
  }
  .header__menu {
    display: block;
    text-align: center;
  }
  .header__bell {
    margin-top: -20px;
  }
  .header__logo {
    text-align: center;
  }
  .title {
    margin-top: 40px;
    text-align: center;
  }
  .button {
    display: block;
    margin: 10px auto;
  }
}
@media (max-width: 425px) {
  .header__option {
    text-align: center;
    margin-top: 20px;
  }
  .title h1 {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .header__menu li {
    margin-left: 5px;
  }
  .header__option {
    text-align: center;
    margin-top: 20px;
  }
  .title h1 {
    font-size: 20px;
  }
  .camera__block {
    margin-top: 20px;
  }
}
.thank-you {
  margin-top: 20px;
}
.thank-you__title {
  font-size: 20px;
  color: #0047ff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.thank-you__link {
  text-align: center;
}
